body{
    font-family: 'Chakra Petch', sans-serif;
}
/* colores para textos y otros */
.amarillo{
    color: #F7A908 !important;
}
.azul-claro{
    color: #4A0EC4 !important;
}
.turquesa{
    color: #00FADF !important;
}
.azul-oscuro{
    color: #320E8B !important;
}
/* Background */
.bg-amarillo{
    background-color: #F7A908 !important;
}
.bg-azul-claro{
    background-color: #4A0EC4 !important;
}
.bg-turquesa{
    background-color: #00FADF !important;
}
.bg-azul-oscuro{
    background-color: #320E8B !important;
}
/* /////////////////////////////////////////////////////// */
.p300{
    font-weight: 300 !important;
}
.p400{
    font-weight: 400 !important;
}
.p500{
    font-weight: 500 !important;
}
.p600{
    font-weight: 600 !important;
}
.p700{
    font-weight: 700 !important;
}
.p800{
    font-weight: 800 !important;
}

.titulo-1{
    font-size: 1.7rem; 
}

header{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 44.5rem;
}



.circulo{
    border-radius: 10rem;
    padding: 1rem;
    background-color: blue;
}

.texto-grande{
    color: #152255;
}
.texto-grande p{
    font-size: 8rem;
}

.personajes{
    background-image: url(../img/personajes.png);
    background-size: cover;
}

.news-carousel {
    position: relative;
    padding: 0 50px; /* Adjust this value as needed */
}

.news-carousel .carousel-control-prev,
.news-carousel .carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.news-carousel .carousel-control-prev {
    left: -20px;
}

.news-carousel .carousel-control-next {
    right: -20px;
}

.news-carousel .carousel-control-prev-icon,
.news-carousel .carousel-control-next-icon {
    width: 20px;
    height: 20px;
}

.sponsor-logo {
    transition: filter 0.3s ease;
}

.sponsor-logo:hover {
    filter: grayscale(100%);
}
